@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:wght@400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* COMMENT ELEMENTS */
a{
    text-decoration: none;
}
.cta,.cta:visited{
    padding: 8px 15px;
    color: white;
    background: #ffd700;
    border-radius: 30px;
    transition: all 0.25s;
    box-sizing: border-box;
}

.cta:hover,.cta:active{
    color:#ffd700;
    background: transparent;
    border: 2px solid #ffd300;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.47);
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.row .cols{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

img{
    cursor: pointer;
    transition: all 0.3s;
}
img:hover{
    transform: scale(1.1);
}
/* COMMENT ELEMENTS END */
/* NAVIGATION */
.navbar{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    color: whitesmoke;
}
.navbar .logo{
    text-transform: uppercase;
    font-size: 3vmin;
}
.navbar .logo span{
   color: #ffd700;
   font-size: 3vmin;
}

.navbar ul{
 list-style: none;
}
.nav_links{
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav_links li a{
  color: whitesmoke;
  transition: all 0.3s;
}
.nav_links li a:hover{
  color: #ffd700;
}

.menu_btn{
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 40px;
    display: none;
    pointer-events: none; 
    color: whitesmoke; 
    z-index: 1000; 
}
/* NAVIGATION ENDS */
header{
    height: 100vh;
    width: 100%;
    background: url("bg_img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;   
}

.header_content{
    color: whitesmoke;
    text-align: center;
    margin-bottom: 150px;
}

.header_content h2{
    font-size: 4vmin;
    text-transform: capitalize;
}

.header_content h1{
    font-size: 7vmin;
    text-transform: capitalize;
    margin-bottom: 30px;
    margin-top: 50px;
}
.line{
    height: 5px;
    width: 150px;
    background-color: #ffd700;
    margin: 5px auto;
}
/* UPCOMING EVENTS */

.events{
    width: 80%;
    margin: 80px auto;
}

.up_events{
    width: 450px;
}

.title{
    text-align: center;
    font-size: 4vmin;
    color: #484872;
}

.events .cols{
  margin-top: 50px;
}

.events h4{
    font-size: 4vmin;
    margin: 20px auto;
}

p{
    color: #7c7c7c;
    padding: 0 40px;
}

.events .cta{
    margin-top: 30px;
}

/* EXPLORE SECTION */

.explore{
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.4)),url("bg_img-2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}
.explore_content{
    padding: 50px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.explore_content h1{
    color: white;
    font-size: 7vmin;
    text-transform: uppercase;
}

.explore_content .line{
    margin-bottom: 50px;
}

.explore_content p{
    color: #fff;
}

.explore_content .cta{
    margin-top: 50px;
}

/* EXPLORE SECTION END*/

/* UPCOMING TOURS */

.img_gallery img{
    max-width: 300px;
    margin: 10px;
}

.tours{
    margin: 100px 0px;
    padding: 0 40px;
}

.img_cols{
    width: 55%;
}
.cols_content{
    width: 45%;
}

.img_gallery{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.tours .row{
    gap:20px;
}

.cols_content h1{
    font-size: 7vmin;
    color: #484872;
    text-transform: uppercase;
}

.cols_content .line{
    margin-left: -1px;
}

.cols_content p{
    padding: 0;
    margin: 40px auto;
}

footer{
    width: 100%;
    min-height: 100px;
    padding: 20px 80px;
    text-align: center;
    
    background-color: #484872;
}

footer p{
    color: whitesmoke;
    margin: 20px auto;
}
/* MOBILE RESOLUTION  */

@media only screen and (max-width:850px){
    .menu_btn{
        display: block;
        pointer-events:all;
    }
    .navbar{
        padding: 0;
    }
    .logo{
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .nav_links{
        height: 100vh;
        width: 100%;
        background: #6fa9b4;
        flex-direction: column;
        justify-content: center;
        margin: -1200px;
        transition: all .5s;
    }
    .mobile_menu{
        margin: 0px;
        border-bottom-right-radius: 30%;
    }
    .nav_links li{
        margin: 20px auto;
    }

    /* EVENTS */
    .row{
        flex-direction: column;
    }
    .cols img{
        max-width: 90%;
    }
    .row .col{
        margin: 20px auto;
    }

    /* EXPLORE */
    .explore_content{
        width: 100%;
        text-align: center;
    }
    .explore{
        background-position: top center;
    }

    /* TOURS */

    .tours .cols{
        width: 100%;
    }
    .img_gallery{
        align-items: center;
        justify-content: center;
    }
    .img_gallery img{
        width: 90%;
    }
    .cols_content{
        text-align: center;
        width: 90%;
    }
    .cols_content .line{
        margin: 10px auto;

    }
    .cols_content .cta{
        margin: 20px auto;
    }

    footer{
        margin: 20px auto;
    }
}